@model Foosball.Models.FoosballModels.Player

@{
    ViewBag.Title = "Create";
}

<h2 class="text-vertical-center">Create</h2>

<div class="row">
    <div class="col-md-4"></div>
    <div class="formbox col-md-4">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4 class="text-center">Player</h4>
                <hr />
                @Html.Partial("UsernameEditor")

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
        </div>
    </div>
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
