@{
    ViewBag.Title = "Home Page";
}

<header>
    <div class="text-vertical-center">
        <h1>KEA Foosball</h1>

        <h3>Claim the top of the highscore!</h3>
        <br>
        
        @Html.ActionLink("Login", "Login", "Account", new {}, new { @class = "btn btn-light btn-lg" })
        @Html.ActionLink("Register", "Register", "Account", new { }, new { @class = "btn btn-dark btn-lg"})


    </div>

</header>

